<apex:component controller="approvalRequestController" access="Global">
    <apex:attribute name="qId" type="Id" description="Quote Id" assignTo="{!quoteId}"/>
    <div style="float: left;margin-top:5px;margin-bottom:5px;padding-left:1px;width:100%" align="left">

    <table class="gridtable" style="width:100%">
        <tr style="background-color: #D8D8D8;">
            <th>
                <apex:outputText value="Product Name"/>
            </th>
            <th>
                <apex:outputText value="Quantity"/>
            </th>
            <th>
                <apex:outputText value="Discount (%)"/>
            </th>
            <th>
                <apex:outputText value="Approval Flag"/>
            </th>
            <th>
                <apex:outputText value="List Unit Price"/>
            </th>
            <th>
                <apex:outputText value="Net Unit Price (C)"/>
            </th>  
            <th>
                <apex:outputText value="Net Total"/>
            </th>
        </tr>
        <apex:repeat value="{!qlines}" var="ql">
            <tr>
                <td width= "150">
                    <apex:outputText value="{!ql.SBQQ__ProductName__c}"/>
                </td>
                <td width= "100">
                    <apex:outputText value="{0, number, ###,###}">
                        <apex:param value="{!ql.SBQQ__Quantity__c}"/>
                    </apex:outputText>
                </td>
                <td width= "110">
                    <apex:outputPanel layout="none" rendered="{!NOT(ISBLANK(ql.Discount_Percent__c))}">
                        <apex:outputText value=" {0, number, ###,###.##} %">
                            <apex:param value="{!ql.Discount_Percent__c}"/>
                        </apex:outputText> 
                    </apex:outputPanel>
                </td>
                <td width= "110">
                    <apex:outputField value="{!ql.Approval_Flag_External_Use__c}"/>
                </td>
                <td width= "110">
                    <apex:outputPanel layout="none" rendered="{!NOT(ISBLANK(ql.SBQQ__ListPrice__c))}">
                        <apex:outputText value="$ {0, number, ###,###.##}">
                            <apex:param value="{!ql.SBQQ__ListPrice__c}"/>
                        </apex:outputText> 
                    </apex:outputPanel>
                </td>               
                <td width= "110">
                    <apex:outputPanel layout="none" rendered="{!NOT(ISBLANK(ql.Unit_Price__c))}">
                        <apex:outputText value="$ {0, number, ###,###.##}">
                            <apex:param value="{!ql.Unit_Price__c}"/>
                        </apex:outputText> 
                    </apex:outputPanel> 
                </td>  
                <td width= "110">
                    <apex:outputPanel layout="none" rendered="{!NOT(ISBLANK(ql.SBQQ__NetTotal__c ))}">
                        <apex:outputText value="$ {0, number, ###,###.##}">
                            <apex:param value="{!ql.SBQQ__NetTotal__c }"/>
                        </apex:outputText>
                    </apex:outputPanel>    
                </td> 
            </tr>               
        </apex:repeat>
    </table>    
</div>   
</apex:component>