<apex:page standardController="CSM_Sync_Entry_History__c" extensions="CSMSyncEntryHistoryRetryController" action="{!retry}" >
	<apex:form >
		<apex:pageMessages ></apex:pageMessages>
		<apex:inputHidden value="{!CSM_Sync_Entry_History__c.Status__c}" />
		<br/>
        <apex:commandButton value="Go back to sync entry" action="{!cancel}" id="butcan"/>
	</apex:form>
	
</apex:page>