<apex:page standardController="Opportunity" extensions="OpportunityTeamEditController" sidebar="true" id="Page">
    
    <script type="text/javascript"> 
    var strValue = {};
    function popup(type) {
        strValue = document.getElementById(type).value; 
    }
    
    function openLookup(baseURL, width, modified, searchParam){
        var originalbaseURL = baseURL;
        var originalwidth = width;
        var originalmodified = modified;
        var originalsearchParam = searchParam;
        var lookupType = '005';
        var opp='{!currentRecordId}';
        if (modified == '1') baseURL = baseURL + searchParam;
        
        var isCustomLookup = false;
        
        // Following "005" is the lookup type for User object so change this as per your standard or custom object
        if(lookupType == "005"){  
            var urlArr = baseURL.split("&");
            var txtId = '';
            if(urlArr.length > 2) {
                urlArr = urlArr[1].split('=');
                txtId = urlArr[1];
            }
            
            // Following is the url of Custom Lookup page. You need to change that accordingly
            baseURL = "/apex/CustomUserLookup?txt=" + txtId + "&type=" + strValue +"&oppid=" + opp;
            
            // Following is the id of apex:form control "myForm". You need to change that accordingly
            baseURL = baseURL + "&frm=" + escapeUTF("{!$Component.myForm}");
            if (modified == '1') {
                baseURL = baseURL + "&lksearch=" + searchParam;
            }
            
            // Following is the ID of inputField that is the lookup to be customized as custom lookup
            if(txtId.indexOf('User') > -1 ){
                isCustomLookup = true;
            }
        }
        
        if(isCustomLookup == true){
            openPopup(baseURL, "lookup", 350, 480, "width="+width+",height=480,toolbar=no,status=no,directories=no,menubar=no,resizable=yes,scrollable=no", true);
        }
        else {
            if (modified == '1') originalbaseURL = originalbaseURL + originalsearchParam;
            openPopup(originalbaseURL, "lookup", 350, 480, "width="+originalwidth+",height=480,toolbar=no,status=no,directories=no,menubar=no,resizable=yes,scrollable=no", true);
        } 
    }
    </script>   
    
    <apex:form id="myForm">
        <apex:pageblock id="PageBlock" title="Opportunity Team Edit">
            <apex:pageMessages id="showmsg"></apex:pageMessages>
            <apex:pageBlockButtons >
                <apex:commandbutton value="Add" Action="{!Add}" rerender="pb1"/>
                <Apex:commandButton Action="{!OpportunityTeam}" Value="Save" />
                <Apex:commandButton Action="{!cancel}" Value="cancel" />
            </apex:pageBlockButtons>
            
           <apex:pageblock id="pb1">
                <apex:PageBlockTable value="{!lstInner}" var="e1" id="therepeat">
                    
                    <Apex:column headerValue="Action">       
                        <apex:commandButton value="Delete" action="{!Del}" rerender="pb1">
                            <apex:param name="rowToBeDeleted" value="{!e1.recCount}" assignTo="{!selectedRowIndex}"></apex:param>
                        </apex:commandButton>
                    </Apex:column>   
                    
                    <Apex:column headerValue="User" id="Selected">
                        <apex:selectList size="1" value="{!Partner}" id="type" onchange="popup('{!$Component.type}');">
                            <apex:selectOptions value="{!dynamiclist}">
                            </apex:selectOptions>
                        </apex:selectList>
                        <apex:inputfield value="{!e1.OT.UserId}" required="False" id="User" onclick="popup('{! $Component.type}');" >
                            <apex:actionSupport event="onchange" reRender="therepeat" />              
                        </apex:inputField>
                    </Apex:column>
                    
                    <Apex:column headerValue="Team Role" id="test">            
                        <apex:inputfield value="{!e1.OT.TeamMemberRole}" required="{!IF(e1.OT.UserId != Null,"true","false")}" >
                            <apex:actionSupport event="onchange" reRender="therepeat"/>                   
                        </apex:inputField>
                    </Apex:column>
                    
                    <Apex:column headerValue="Opportunity Access">               
                        <apex:inputfield value="{!e1.OT.OpportunityAccessLevel}"/>
                    </Apex:column>
                    
                </apex:PageBlockTable>  
            </apex:pageblock>
        </apex:pageblock>
    </apex:form>
</apex:page>