<apex:page standardcontroller="OpportunityLineItem">
     <script type="text/javascript">
            var makeURL = '/p/opp/SelectSearch?addTo={!$CurrentPage.Parameters.newid}';
            location.replace(makeURL);
    </script>
</apex:page>