<apex:page standardController="Request__c" extensions="PartnerDealApprovalFlowController" tabStyle="Lead">
<flow:interview name="Approve_Partner_Opp_Registration" interview="{!theFlow}" 
                finishLocation="{!NewLeadRecord}">
    <apex:param name="varRequestId" value="{!Request__c.Id}"/>
    <apex:param name="varEmail" value="{!Request__c.Contact_Email__c}"/>
    </flow:interview>
</apex:page>