<apex:page Standardcontroller="pse__Timecard_Header__c" extensions="TimecardMove_Wizard_Controller" >

	<apex:form id="SFForm">

		<apex:pageBlock title="Timecard Move Wizard" id="SFPageBlock">
            
            <!--  show message if one is present -->
            <apex:outputPanel rendered="{!IF(showMessage=='','false','true')}">
	            <apex:outputText value="{!showMessage}" escape="false" style="color:{!showMessageColor};"/>         
				<br/><br/>
			</apex:outputPanel>

			<p>Select new destination project for timecard.</p>

			<br/>


			<apex:pageblocksection title="Project Selection" showheader="true" columns="1" id="idProjects">

				<apex:pageblocksectionitem >
					<apex:outputlabel value="Current Project"/>
					<apex:outputfield value="{!m_pTimecard.pse__Project__c}" />
				</apex:pageblocksectionitem>

				<apex:pageblocksectionitem >
					<apex:outputlabel value="New Project"/>
					<apex:inputfield value="{!m_pTimecardProject.pse__Project__c}" required="true" id="idNewProject" />
				</apex:pageblocksectionitem>

				<apex:pageblocksectionitem >
					<apex:outputlabel value="New Assignment"/>
					<apex:inputfield value="{!m_pTimecardProject.pse__Assignment__c}" id="idNewAssignment" />
				</apex:pageblocksectionitem>

				<apex:pageblocksectionitem >
					<apex:outputlabel value=""/>
					<apex:commandButton value="Move Timecard" action="{!ProcessTimecardMove}" />
				</apex:pageblocksectionitem>
				
				
			</apex:pageblocksection>


			<!-- 
			<table>
				<tr>
					<th style="text-align:right; padding-right:10px;">Current Project</th>
					<td style="text-align:left"><apex:outputfield value="{!m_pTimecard.pse__Project__c}" style="position:relative; top:4px;"/></td>
					<td style="padding-left:30px;">
						<apex:commandButton value="Move Timecard" action="{!ProcessTimecardMove}" style="margin-right:10px;" />
					</td>
					
				</tr>
				<tr>
					<th style="text-align:right; padding-right:10px;">New Project</th>
					<td style="text-align:left"><apex:inputfield value="{!m_pTimecardProject.pse__Project__c}" required="true" id="idNewProject" /></td>
					<td>&nbsp;</td>
				</tr>
				
				<tr>
					<td colspan="3">&nbsp;</td>
				</tr>
				
				
			</table>
		
			-->
		
		</apex:pageBlock>

	</apex:form>

</apex:page>